@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: inherit;
    color:inherit;
}

.app{
    min-height: 98.5vh;
    border:8px solid green;
    background-image:url("https://static.storyweaver.org.in/illustrations/48182/original/4.jpg");
    background-size:cover;
    margin:5px;
    padding: 5px;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-transform: uppercase;
    font-size: 8vw;
    cursor: pointer;
}
.divider{
    margin:10px;
    width:100%;
    background-color: blanchedalmond;
}

.content{
    display:flex;
    justify-content: space-around;
}

.settings{
    width:45%;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins','sans-sarif';
    font-weight: 300;
}
.banner{
    width:55%;
    align-self: center;
    padding: 8px;
}
.settings__select {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex: 0.8;
    justify-content: space-evenly;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }
  
  .subtitle {
    font-size: 25px;
    border: 1px solid black;
    box-shadow: 4px 4px 2px black;
    padding: 5px 10px;
  }
  
  .quizInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;
  }
  .quizInfo>span{
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
  }
  .question {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .singleQuestion {
    width: 95%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid grey;
    padding: 20px;
    margin-top: 10px;
  }
  
  .options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
  }
  
  .singleOption {
    width: 46%;
    height: 50px;
    padding: 15px 20px;
    margin: 10px;
    box-shadow: 0 0 2px black;
  }
  
  .controls {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
 
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }

  .result>span{
    font-size: 3vw;
  }
  #table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td,
  #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #table tr:hover {
    background-color: #ddd;
  }
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04aa6d;
    color: white;
  }
@media (max-width:800px){
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner{
        width:85%;
        padding:0;
        padding-top:20px;
    }
    .settings{
        width:100%;
    }
    @media (max-width: 614px) {
      .singleOption {
        width: 100%;
      }
    }
}